.header{
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ;
  margin-top:0px;
}
img{
  height:24px;  
}
.left-section
{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-left:40px;

}
button{
  border:none;
  background-color:white;
  height:40px;
  width:40px;
}
.menu{
  margin-right:12px;
  display:flex;
  justify-content: center;
  align-items:center; 
}
.middle-section{
  display:flex;
  align-items:center;
  flex:0.4;
  justify-content:center;
  background-color: ;
}

.right-section{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-right:40px;
 
}
.search-bar{
  border-width:1px;
  border-style:solid;
  border-radius:2px 0px  0px 2px;
  border-color: hsl(0, 0%, 80%);
  box-shadow: inset 1px 2px 2px hsl(0, 0%, 90%);
  padding-left:8px;
  height:36px;
  flex:1;
  width: 0px;
}
.search-bar::placeholder{
  font-size:16px;
  color:hsl(0, 0%, 60%);
}
.search{
  height:40px;
  width:60px;
  background-color:hsl(0, 0%, 95%);
  border-width:1px;
  border-style:solid;
  border-color:hsl(0, 0%, 80%);
  margin-left: -1px;
  border-radius: 0px 2px 2px 0px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.audio{
  background-color: hsl(0, 0%, 95%);
  border-radius:20px;
  margin-left:20px;
  display:flex;
  align-items:center;
  justify-content: center;
}