.sidebar{
  width:72px;
  height:72px;
  display:flex;
  flex-direction: column;
  gap:8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sidebar p{
  margin:0px;
  font-family: arial;
  font-size:12px;
}
.left-navbar{
  display:flex;
  flex-direction:column;
  gap:0px;
  position:fixed;
  height:100%;
  z-index: 100;
  background-color: white;
  left:0px;
  top:88px;
}
.sidebar:hover{
  background-color: hsl(0, 0%, 90%);
}